# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-common~=1.1
azure-core<2.0.0,>=1.2.2
azure-eventhub<6.0.0,>=5.0.0
azure-servicebus~=0.21.1
aiohttp>=3.0
